#main_cont{
	width: 700px;
	height: 700px;
	background-color: green;
}
#cont{
	border-width: 2px;
	border-color: yellow;
}
#cont.lr{
	background-color: red;
	width: 200px;
	height: 300px;
}
#cont.tb{
	background-color: red;
	width: 700px;
	height: 200px;
}
#cont.c{
	background-color: blue;
	width: 700;
	height: 300;
}
#console{
	width: 300;
	height: 300;
	background-color: black;
}