{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'scripts/game_list_scripts.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(worker,300);
            {% if message != '' %}
            alert('{{ message }}')
            {% endif %}
        })
    </script>
</head>
<body>
    <div id="game_list_wraper">
        <div id="game_list_cont">
        <div id="game_list_header"></div>
        <div id="game_list_management">
            <form action="#">
            <input name="gameName" class="game_list_management">
            <input value="Create Game" type="submit" name="createButton">
            </form>
        </div>
        <div id="game_list">
        </div>
        </div>
    </div>

</body>
</html>