{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Monopoly v0.01</title>
	<link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <script type='text/javascript'>
        var game_id = {{ game_id }}
    </script>
</head>
<body backcolor="red">
	<div id="main_wrapper">
    <div id="main_out_1">
    <div id="main_out_2">
    <div id="players_wraper">
        <div id="players_cont">
                {% for i in '1234' %}
                <div id="player_cont" name="p_cont{{i}}">
                    <p name="p_name{{i}}"></p>
                    <p name="p_money{{i}}"></p>
                </div>
                {% endfor %}
        </div>
    </div>
    <div id="game_wraper">
		<div id="game_cont">
			<div id="cont" class="tb" float="top">
                {% for i in cells_t %}
                <div id="cell" class="tb" >
                    <b>{{i.name}}</b>
                </div>
                {% endfor%}
            </div>
			<div id="cont" class="c">
				<div id="cont" class="c_in">
					<div id="cont" class="lr">
                        {% for i in cells_l %}
                            <div id="cell" class="lr">
                                <b>{{i.name}}</b>
                            </div>
                        {% endfor %}
                    </div>
				</div>
				<div id="cont" class="c_in">
					<div id="console">
						<div id="console_out" name="console">
                        </div>
						<div id="console_bottom">
                            <form class="console_bottom" action="#" method="get">
                                <div id="console_b_label">You:</div>
                                <input class="console_inp" name="con_inp">
                                <input class="console_submit" type="submit" value="Enter" name="s_button">
                            </form>
						</div>
					</div>
				</div>
				<div id="cont" class="c_in">
					<div id="cont" class="lr">
                    {% for i in cells_r %}
                            <div id="cell" class="lr">
                                <b>{{i.name}}</b>
                            </div>
                        {% endfor %}
                    </div>
				</div>
			</div> 
			<div id="cont" class="tb" float="bottom">
                {% for i in cells_b %}
                            <div id="cell" class="tb">
                                <b>{{i.name}}</b>
                            </div>
                        {% endfor %}
            </div>
		</div>
        </div>
    <div id="interface_wraper">
        <div id="interface_cont">
        </div>
    </div>
        <a href="logout"><button >Logout</button></a>
    </div>
    </div>
    </div>
</body>
</html>