{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            var doc = document.getElementsByClassName('index-content')[0].contentWindow.document
{#            doc.open()#}
{#            doc.write('{% autoescape off%}{{ document|safe}}{% endautoescape %}')#}
{#            doc.close()#}
        })

        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</head>
<body>
    <div class="index-header">
        <p>Monopoly</p>
    </div>
    <iframe class="index-content" onload="resizeIframe(this)" src={{ document}}/>
</body>
</html>