{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div id="login_wrapper">
    <div id="login_cont">
        <form class="login" action="#" method="get">
            {% if available %}
            <p>{{ Message }}</p>
            <input class="login_inp" name="login_inp">
            <input class="login_sub" value="OK" type="submit" name="login_sub">
            {% else %}
                <p>Current game is full
            {% endif %}
        </form>
    </div>
    </div>
</body>
</html>