#main_wrapper{
			text-align: center;
            background-color: burlywood;
		}
#main_out_1{
	width: 1400px;
	height: 770px;
	display: inline-block;
}
#main_out_2{
	width: 1400px;
	height: 770px;
	display: table;
}

#players_wraper{
	width:315px;
	height: 770px;
	display: table-cell;
}
#players_cont{
	width:315px;
	height: 770px;
}

#game_wraper{
	width: 770px;
	height: 770px;
	display: table-cell;
}
#game_cont{
	float:left;
	width: 770px;
	height: 770px;
}

#interface_wraper{
	width:315px;
	height: 770px;
	display: table-cell;
}
#interface_cont{
	width:315px;
	height: 770px;
}

#cont{
}
#cont.lr{
	width: 70px;
	height: 630px;
	background-color: #f3f4ed;
}
#cont.tb{
	display: table;
	width: 770px;
	height: 70px;
	background-color: #f3f4ed
}
#cont.c{
	display: table;
	width: 770px;
	height: 630px;
}
#cont.c_in{
	border-width: 0px;
	display: table-cell;
	vertical-align: top;
}
#console{
	width: 630px;
	height: 630px;
}
#console_out{
	width:616px;
	height: 590px;
	padding-top: 5px;
	padding-left: 5px;
	border-width: 2px;
	border-style:solid;
	border-color:black;
	overflow-y: scroll;
	overflow-x: auto;
	text-align: left;
}
#console_bottom{
	height:28px;
	margin-top: 4px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	display: table;
}
form.console_bottom{
	display: table;
}
#console_b_label{
	width: 100px;
	display:table-cell;
	text-align: center;
	font-size: 20px;
}
input.console_inp{
	width: 443px;
	font-size: 16px;
	margin-right:3px;
	display: table-cell;
}
input.console_submit{
	width:70px;
	font-size: 16px;
	display:table-cell;
}
#cell{
	width:68px;
	height: 68px;
	border-width: 1px;
	border-style: solid;
}
#cell.tb{
	display: table-cell;
}
#cell.lr{
	float: left;
}

#player_cont{
	float:left;
	width:313px;
	height: 190px;
	border-width: 1px;
	border-style: solid;
}


#login_wrapper{
	text-align: center;
}
#login_cont{
	border-width:1px;
	border-style:solid;
	border-color:black;
	width:250px;
	display: inline-block;
}
form.login{
	text-align: left;
	top:200px;
	width:400px;
	height: 300px;

}
input.login_inp{
	width:120px;
	margin-left:50px;
}
input.login_sub{
	width:40px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#game_list_wraper{
	text-align: center;
}
#game_list_cont{
	display: inline-block;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
#game_list{
	width: 520px;
}
#game_list_header{
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	color:white;
	padding-top:3px;
	font-size:20px;
	width:500px;
	margin-left: 10px;
	margin-top: 5px;
	border-width: 1px;
	border-color: #2b669a;
	border-style: solid;
}
#game_list_management{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	margin-right:10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding-left: 50px;
	padding-right:50px;
	padding-top: 30px;
	padding-bottom:30px;
}
#game_list_item{

	margin-left: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding-left: 50px;
	padding-right:50px;
	padding-top: 30px;
	padding-bottom:30px;
	width:500px;
}
p.game_list_item{
}
input.game_list_management{
	width:250px;
	margin-right:20px ;
}
div.index-header{
	width:100%;
	height:100px;
	font-size: 20px;
}

iframe.index-content{
	width:100%;
	height:auto;
	border-width: 0px;
}