<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="bs-example" data-example-id="basic-forms" style="width:70%;margin-left:5%;margin-top: 3%;">

    <h1>Edit {{ table|title }} element</h1>
    <form method="post" action="#">
    {% csrf_token %}
        {% for i in col_list %}
        <div class="form-group"><label for="exampleInputEmail1">{{ i.name|title }}</label> {{ i.type|safe }}</div>
        {% endfor %}
        <input type="hidden" name="elem_table" value="{{ table }}">
        <input type="hidden" name="id" value="{{ id }}">
        <input value="Submit" type="submit" class="btn btn-default">
    </form>
</div>

</body>
</html>