{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barebux</title>
</head>
<body>
    <div style="float:left;width:49%;border-right-color: white;border-right-width: 2px">
    <p>Load your image</p>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type = file name="file">
        <input type="hidden" name="purpose" value="load">
        <input type = submit>
    </form>
    {% ifnotequal original_image  '' %}
        <img src="{% static original_image %}" style="max-width: 100%;">
    {% endifnotequal %}
    </div>

    <div style="float:right;width:49%">
        <p>Image Transform</p>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="purpose" value="trans">
            <label for="n_cl" >Clusters number </label>
            <input type="number" name="n_cl">
            <input type = submit>
        </form>
        {% ifnotequal original_image  '' %}
            <img src="{% static trans_image %}" style="max-width: 100%;">
        {% endifnotequal %}
    </div>

</body>
</html>