#main_wrapper{
	text-align: center;
}
#main_cont{
	align: center;
	display: inline-block;
	width: 800px;
	height: 800px;
}
#cont{
}
#cont.lr{
	width: 120px;
	height: 560px;
	background-color: #f3f4ed
}
#cont.tb{
	width: 800px;
	height: 120px;
	background-color: #f3f4ed
}
#cont.c{
	display: table;
	width: 800px;
	height: 560px;
}
#cont.c_in{
	border-width: 0px;
	display: table-cell;
}
#console{
	width: 560px;
	height: 560px;
}

#console_out{
	width:550px;
	height: 524px;
	padding-top: 5px;
	padding-left: 5px;
}
#console_bottom{
	height:26px;
	background-color: yellow;
	margin-top: 5px;
	padding-top: 2px;
	padding-left: 4px;
}

input.console_inp{
	width: 546px;
	font-size: 16px;
	display: flex;
}