{% extends "base.html" %}
{% block content %}

    <h1>Виберіть базу даних для перегляду</h1>

    <p>

    <form method=post enctype=multipart/form-data>
        <div class="input-group">

            <label class="input-group-btn">
                <span class="btn btn-secondary">
                    Відкрити файл&hellip;
                    <input type=file class="form-control-file" name="file" style="display: none;">
                </span>
            </label>

            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Перейти >
                    <input type=submit style="display: none;">
                </span>
            </label>

        </div>
    </form>

{% endblock %}
