{% extends "base.html" %}
{% block content %}

    <h1>Зміна назв колонки</h1>

    <p>

    <form action="/{{table}}/rename_column" method=post>
        <div class="input-group">

            <label class="input-group-btn">
                <span class="btn btn-secondary">
                    Індекс колонки
                    <input type=number name="column_id" >
                </span>
            </label>

            <label class="input-group-btn">
                <span class="btn btn-secondary">
                    Нова назва
                    <input type=text name="new_name" >
                </span>
            </label>

            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Змінити
                    <input type=submit style="display: none;">
                </span>
            </label>

        </div>
    </form>

{% endblock %}
