{% extends "base.html" %}
{% block content %}

    <div>
        <h1>Таблиця "{{ table.name }}"</h1>
        <a href="/" class="btn btn-secondary">< Повернутися до вибору бази</a>
        <a href="/{{ table.name }}/rename_column" class="btn btn-secondary">Змінити назву колонки</a>
    </div>

    <p>

    <table class="table">
        <thead>
        <tr>
        {% for col in table.cols %}
            <th class="colheader" data-toggle="tooltip" data-placement="left" title="{{ col[1] }}">{{ col[0] }}</th>
        {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for row in table.data %}
            <tr>
            {% for val in row %}
                {% if table.cols[loop.index0][1] == 'picture' %}
                    <td>{{ make_picture(val) }}</td>
                {% else %}
                    <td>{{ val }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>

    <div>
    Перейти до таблиці:
    {% for tablename in tablenames %}
        <a href="/display?table={{ tablename }}" class="btn btn-secondary">{{ tablename }}</a>
    {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.colheader').tooltip();  // initialize column header tooltips
        })
    </script>

{% endblock %}
